---
import "../styles/megamenu.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Menu</title>
</head>
<body>
<ul class="mega-menu">
  <li class="menu-item">
    <a href="#">Categoría 1</a>
    <div class="submenu">
      <div class="submenu-column">
        <h3>Subcategoría 1</h3>
        <img src="/megamenu/portadaScreenCat.jpg" alt="">
        <ul>
          <li><a href="#">Enlace 1</a></li>
          <li><a href="#">Enlace 2</a></li>
        </ul>
      </div>
      <div class="submenu-column">
        <h3>Subcategoría 2</h3>
        <ul>
          <li><a href="#">Enlace 3</a></li>
          <li><a href="#">Enlace 4</a></li>
        </ul>
      </div>
    </div>

        <a href="#">Categoría 1</a>
    <div class="submenu">
      <div class="submenu-column">
        <h3>Subcategoría 1</h3>
        <img src="/megamenu/portadaScreenCat.jpg" alt="">
        <ul>
          <li><a href="#">Enlace 1</a></li>
          <li><a href="#">Enlace 2</a></li>
        </ul>
      </div>
      <div class="submenu-column">
        <h3>Subcategoría 2</h3>
        <ul>
          <li><a href="#">Enlace 3</a></li>
          <li><a href="#">Enlace 4</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>

</body>
</html>